body {
 text-align: center;
 background-image: linear-gradient(to right, rgb(99, 154, 255) , rgb(34, 69, 245));
 height: 100vh;

 display: flex;
 justify-content: center;
 font-family: sans-serif;
}

.App {
  min-height: 400px;
  width: 400px;
  background-color: white;
  border-radius: 5px;
  margin-top: 10vh;
  

  display: flex;
  flex-direction: column;
}

.form{
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 0rem;
  border-bottom: 1px solid rgb(170, 170, 170);
  margin-bottom: 10px;

}
.todo-input{
  border: 2px solid rgb(196, 195, 195);
  border-radius: 5px;
  width: 220px;
  font-size: 0.9rem;
  padding:0.4rem;
  color: grey;
  outline-color: rgb(43, 99, 255);
}
.todo-input::placeholder{
  color: rgb(194, 194, 194);
}

.add-button{
  background-color: rgb(43, 99, 255);
  color: white;
  outline: none;
  border-radius: 5px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  width: 80px;
  transition: all 0.5s ease;
}
.add-button:hover{
  background-color: rgb(165, 165, 255);
  transform: scale(1.05);
}

.todos-container{
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.5rem 0.5rem;
  border: 1px solid rgb(239, 239, 250);
  border-radius: 5px;
  margin: 5px 15px;
}
.todo-button-container{
  display: flex;
  gap: 0.5rem;
}
.todo-text-edit-toggle-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.6rem;
}
.icon-button{
  background-color: rgb(43, 99, 255);
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
}
.delete-button{
  background-color: rgb(255, 43, 43);
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
}
.todo-text{
  font-size: 0.9rem;
}
.edit-input{
  outline: none;
  border: none;
  border-bottom: 1px solid rgb(222, 222, 222);
  width: 200px;
  font-size: 0.9rem;
  padding:0.4rem;
  color: grey;
}
.edit-input::placeholder{
  color: rgb(194, 194, 194);
}